[Unit]
Description=Air Quality Monitor Light Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/YOUR_USERNAME/air_monitor.py
WorkingDirectory=/home/YOUR_USERNAME
StandardOutput=inherit
StandardError=inherit
Restart=always
User=YOUR_USERNAME

[Install]
WantedBy=multi-user.target